@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Passions+Conflict&family=Reem+Kufi+Ink&family=Satisfy&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 672px 400px 400px 400px 300px;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo"
    ;
}


header {
    background-color: #fdfdfd;
    grid-area: he;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section1{
    background-color: #357960;
    color: #fdfdfd;
    grid-area: s1;
    border-bottom: #fdfdfd solid 1px;
    border-top: #fdfdfd solid 1px;
    display: flex;
    justify-content: center;
}

#section2{
    grid-area: s2;
}

#section3{
    grid-area: s3;
}

#section4{
    grid-area: s4;
}

footer{
    background-color: #357960;
    color: #fdfdfd;
    grid-area: fo;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.animal_information{
    background-color: #fdfdfd;
    color: #fdfdfd;
}

li {
    list-style: none;
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #357960;
    font-size: larger;
}

a:hover{
    font-weight: bolder;
}

h1 {
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
}

p{
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#start_page_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 50%;
    height: 50%;  
    border: 2px solid #fdfdfd;
    border-radius: 5px;
}

#boknings_knapp {
    margin-top: 20px;

    padding-left: 10px;
    padding-right: 100px;

    border: 1px solid #fdfdfd;
    border-radius: 5px;
    padding: 5px;

    width: 100px;
    display: flex;
    justify-content: center;
}

#boknings_knapp:hover {
    border: 2px solid #fdfdfd;
    cursor: pointer;
}

.footer_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information_rubrik{
    margin-bottom: 10px;
}



